
.text-center {
  text-align: center;
}
.color-disabled {
  color: var(--gray);
}


.quote::before {
  content: "\201c";
}
.quote::after {
  content: "\201d";
}
.quote::before , .quote::after {
  display: block;
  color: var(--gold);
  font-size: 1.6em;
  margin-top: .4em;
}


.is-hiden {
  display: none;
}

.has-border {
  border: 2px solid red;
}
.has-border--o {
  border: 2px solid blue;
}
.has-border--1 {
  border: 2px solid green;
}

