
.cover {
  position: relative;
}
.cover--opacity {
  position: relative;
  color: white;
}
.cover__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $zIndexBack;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cover--opacity .cover__image {
  filter: brightness(.5);
}